@model List<DashViewModel>

@{
    ViewData["Title"] = "DashBoard";
}

<h1>Commits from @ViewBag.StartDate.ToShortDateString() (@ViewBag.DatesCount days)</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Student
            </th>
              @for (int i = 1; i <= ViewBag.DatesCount; i++) {
                 var date = ViewBag.StartDate + TimeSpan.FromDays(i-1);
                 <th title="@date.ToShortDateString()">
                    @(i % 10 == 0 ? i : i % 10)
                 </th>
             }
        </tr>
    </thead>
    <tbody>
    @foreach (var dash in Model) {
        <tr>
            <td>
                <a href="@dash.StudentRepo">@dash.StudentName</a>  
            </td>
            @for (int i = 0; i < ViewBag.DatesCount; i++) {
                var date = ViewBag.StartDate + TimeSpan.FromDays(i);
                int count = dash.Commits.ContainsKey(date) ? dash.Commits[date] : 0;
                string mark = count > 0 ? count.ToString() : "";
                string color = count == 0 ? "none" : (count == 1 ? "lightgreen" : "green") ;
                <td style="background-color:@color">
                    @mark
                </td>
             }
        </tr>
    }
    </tbody>
</table>
